#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card h2, 
.card p {
  transition: transform 0.3s ease, color 0.3s ease;
}

.card h2:hover,
.card p:hover {
  transform: scale(1.1); /* aumenta um pouco */
  color: #646cff;        /* muda a cor no hover */
}


.card {
  padding: 2em;
}


.card-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #646cff;
  border-radius: 50%; 
  margin-bottom: 10px;

  transition: transform 0.3s ease; /* animação suave */
}

.card-img:hover {
  transform: scale(1.1); /* aumenta 10%, como se desse um pulinho */
}



.read-the-docs {
  color: #888;
}

/* App.css */

/* Container dos cards */
.profiles-container {
  display: flex;           /* ativa o flexbox */
  flex-direction: row;     /* alinha horizontalmente */
  gap: 2rem;               /* espaço entre os cards */
  justify-content: center; /* centraliza os cards horizontalmente */
  padding: 2rem;
}



/* Estilo do card */
.card {
  border-radius: 12px;
  background-color: #1e1e1e; /* cinza escuro */
  box-shadow: 0 8px 20px rgba(0,0,0,0.8); /* sombra mais intensa */
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 400px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(110,64,243,0.7); /* sombra roxa ao passar o mouse */
}


/* Imagem do perfil */
.card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s;
}

.card-img:hover {
  transform: scale(1.1);
}

/* Link do GitHub */
.card a {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #0475f7;
  text-decoration: none;
  transition: background-color 0.3s;
}

.card a:hover {
  background-color: #555;
}
